@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

h1 {
  @apply text-inter-5xl;
  font-kerning: normal;
  /* Margin value is 5xl */
  //margin-top: calc(2 * 3rem);
  //margin-bottom: 3rem;
  font-weight: bold;
}

h2 {
  @apply text-inter-4xl;
  font-kerning: normal;
  //margin-top: calc(2 * 2.25rem);
  //margin-bottom: 2.25rem;
  font-weight: bold;
}

h3 {
  @apply text-inter-2xl;
  font-kerning: normal;
  //margin-top: calc(2 * 1.5rem);
  //margin-bottom: 1.5rem;
  font-weight: bold;
}

h4 {
  @apply text-inter-base;
  font-kerning: normal;
  //margin-top: calc(3 * 1rem);
  //margin-bottom: 1rem;
  font-weight: bold;
}

p {
  @apply text-inter-base mb-0;
}

p + p {
  text-indent: 1em;
}

blockquote {
  @apply px-8 border-l-4 border-gray-400;
  //margin-bottom: calc(2 * 1rem);
}

blockquote:not(:first-child) {
  margin-top: calc(2 * 1rem);
}

blockquote p {
  @apply .leading-snug;
  text-indent: -0.5em;
}

ul,
ol {
  padding-left: 0;
  list-style-position: outside;
}

figcaption,
small {
  @apply text-inter-xs;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Spinner {
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
